/* 
   Селектор "звездочка" обозначает все элементы. 
   Данным стилем мы отключаем все оступы, которые по умолчанию присутствуют у всех элементов
*/
*{
	margin: 0;
	padding: 0;
}

/* 
	Селектор ссылкается на id main (см. html) 
	Знак решетки обозначает, что мы ссылаемсы именно по атрибуту id
 */
#main{
	padding: 30px; /* внутренний отступ у секции в 30 пикселей со всех сторон */
	background-color: #ffeaa7; /* цвет фона */
	min-height: 100vh; /* у секции минимальная высота будет во весь экран; если контента будет больше, то секция растянется */
}

/*
	данный селектор ссылается элемент с классом card
*/
.cards{
	display: flex; /* указываем тип элемента flex, что позволяет легко 
						позиционировать его дочерние элементы (карточки с товарами) 
					*/
	justify-content: space-between; /* дочерние элементы должны располагаться равномерно
									по ширине, а все свободное пространство равно 
									располагается между ними */
	flex-wrap: wrap; /* если дочерние элементы по ширине превосходят родительский, 
						то элементы справа будут переходить на новую строку */
}

/*
	данный селектор ссылается на все элементы div внутри элемента с классом card
	(на все карточки с товарами)
*/
.cards div{
	width: 300px; /* ширина 300 пикселей */
	margin: 50px 30px; /* внешний отступ по вертикали 50 пикселей, а по горизонтали 30 */
	background-color: #16a085; /* цвет заднего фона */
	color:#ecf0f1; /* цвет текста */
	padding: 10px; /* внутренний отступ 10 пикселей со всех сторон */
	box-shadow: 5px 5px 15px black; /* тень со следующими параметрами по порядку:
		5px - отступ тени по горизонтали (влево)
		5px - отступ тени по вертикали (вниз)
		15px - ширина градиента тени
		black - цвет тени
	 */
}

/*
	данный селектор ссылается на все картинки в элементе с классом card
	(все картинки внутри карточек)
*/
.cards img{
	width: 100%; /*ширина на всю ширину родительского элемента */
	margin-bottom: 20px; /* внешний отступ снизу на 20 пикселей */
}

/*
	данный селектор ссылается на все кнопки в элементе с классом card
	(все кнопки внутри карточек)
*/
.cards button{
	width: 100px; /* ширина */
	height: 30px; /* высота */
	display: flex; /* указываем тип элемента flex, что позволяет нам легко 
						позиционировать его дочерние элементы (карточки с товарами) 
					*/
	justify-content: center; /* содержимое кнопки будет по центру по горизонтали */
	align-items: center; /* содержимое кнопки будет по центру по вертикали */
	margin-top: 30px; /* внешний отступ сверху на 30  */
	border: none; /* отключение каемки у кнопки (существует по-умолчанию) */
	background-color: #d35400; /* цвет фона */
	color: #ecf0f1; /* цвет текста */
	border-radius: 15px; /* закругление краев (радиус закругления 15 пикселей) */
	cursor: pointer; /* курсор при наведении в виде пальца (кликабельный) */
	transition: color 0.5s, background-color 0.5s; /* анимированный переход при 
		изменении цвета текста и цвета фона, в обоих случаях время перехода - 
		пол-секунды */
}

/*
	в данном селекторе используется псевдокласс :hover
	он указывает, что стили отработают в том случае, если на кнопку наведут 
	курсором и перестанут работать, когда курсор уведут с элемента

*/
.cards button:hover{
	color: #d35400; /* цвет текста */
	background-color: #ecf0f1; /* цвет фона */
}